*{
    margin: 0px;
    padding: 0px;
    background-color: #96BDC6;
}

h1{
    margin-top: 30px;
    color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 2rem;
    border-radius: 50px;
    font-size: 3rem;
}

.container{
    gap: 5px; 
    margin-top: 100px;
    height: 300px;
    width: 310px; 
    display: flex;
    flex-wrap: wrap;
    
}

.play{
    display: flex;
    justify-content: center;
} 


.r1{
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #E8CCBF;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    color: #81968F;
}

#message{
    display: flex; 
    align-items: center;
    justify-content: center;
}

#newbtn{
    display: flex; 
    align-items: center;
    justify-content: center;
} 

#resetg{
    display: flex; 
    align-items: center;
    justify-content: center;
}


.reset{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-weight: 700;
    font-size: 2rem;
    background-color: #E8CCBF;
    height: 3rem;
    width: 12.4rem;
    /* margin-left: 640px; */
    border-radius: 10px;
    border: none;
}

.new_btn{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-weight: 700;
    font-size: 2rem;
    background-color: #E8CCBF;
    height: 3rem;
    width: 12.4rem;
    /* margin-left: 640px; */
    border-radius: 10px;
    border: none; 
}

#msg{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-weight: 700;
    font-size: 2rem;
    background-color: #E8CCBF;
    height: 3rem;
    width: 12.4rem;
    /* margin-left: 640px; */
    border-radius: 10px;
    border: none;
    width: 25rem;
}
